<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.slc.mp">

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <application>
        <activity
            android:name="android.slc.mp.ui.activity.SlcMpActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcMediaPickerAppTheme.NoActionBar" />
        <activity
            android:name="android.slc.mp.ui.activity.SlcMpBrowsePhotoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcMediaPickerAppTheme.NoActionBar" />
        <activity
            android:name="android.slc.mp.ui.activity.SlcMpBrowseVideoActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcMediaPickerAppTheme.NoActionBar" />
        <activity
            android:name="android.slc.mp.ui.activity.SlcMpBridgingActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|density|fontScale"
            android:theme="@style/SlcMediaPickerTipDialog" />

        <provider
            android:name="android.slc.mp.SlcMpFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/slc_mp_file_paths" />
        </provider>
    </application>
</manifest>
